@media screen and (max-width: 750px) {
  /*Products type*/

  .main-products-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Details Card */

  .detailCard {
    display: flex;
    flex-direction: column;
  }
  /* All card container */
  .products-cards {
    display: flex;
    flex-direction: column;
  }
}
