@media screen and (max-width: 750px) {
  /*Products type*/

  .main-products-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sales-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 90px;
  }

  /* Details Card */

  .detailCard {
    display: flex;
    flex-direction: column;
  }
}
