* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Navigation Bar*/

.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #e6fff9;
  height: 40px;
}
.modern-living {
  font-size: 16px;
  font-style: italic;
  width: 100px;
  margin-top: 5px;
  color: #008060;
}
.logo {
  align-self: center;
  text-align: center;
  padding-left: 30px;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  background: -webkit-linear-gradient(#3abb9b, #db4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  overflow: visible;
}

.nav-menu {
  align-self: center;
  padding-right: 30px;
  display: flex;
  gap: 15px;
}

.navbar-buttons {
  display: flex;
}
.cart-button,
.admin-button {
  text-decoration: none;
  color: #008060;
  margin-left: 3px;
}
.home-button,
.navbar-buttons,
.input-group {
  text-decoration: none;
  color: #008060;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  border: 2px solid;
  border-radius: 5px;
  border-image: linear-gradient(to bottom, #00e6ac, #db4dff) 1 100%;
  font-size: 13px;
  font-weight: bold;
  width: 80px;
  height: 22px;
}
.cart-count-info {
  position: absolute;
  top: 3px;
  right: 155px;
  padding-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: #db4dff;
}
.navbar-buttons:hover,
.home-button:hover,
.admin-button:hover,
.cart-button:hover {
  background-color: #e6e6ff;
  color: #008060;
}
.animate__animated.animate__bounce {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.home-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  text-align: center;
  margin-top: 5px;
  font-size: 23px;
  font-style: italic;
  background: -webkit-linear-gradient(#3abb9b, #db4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
}
/* Products*/

.products-title {
  color: #008060;
  font-size: 25px;
  margin-top: 30px;
  font-family: "Dancing Script", cursive;
}
.main-products {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.line {
  width: 200px;
  color: #db4dff;
}
.main-products-type {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 70px;
}
.title-sofa,
.title-console,
.title-armchair {
  font-size: 25px;
  color: #008060;
  font-family: "Dancing Script", cursive;
}
.all-consoles,
.all-sofas,
.all-armchairs {
  text-align: center;
  color: #008060;
  text-decoration: underline;
  justify-content: center;
  font-style: italic;
  width: 280px;
  text-decoration: none;
}
.all-consoles img,
.all-sofas img,
.all-armchairs img {
  width: 280px;
  height: 220px;
  margin-top: 10px;
}

.button-products:hover {
  color: #008060;
}

/*hoover products-type*/

.all-consoles,
.all-sofas,
.all-armchairs {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.all-consoles:hover,
.all-consoles:focus,
.all-consoles:active,
.all-sofas:hover,
.all-sofas:focus,
.all-sofas:active,
.all-armchairs:hover,
.all-armchairs:focus,
.all-armchairs:active {
  box-shadow: 10px 10px 5px #e6fff9;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/*Motto*/

.motto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.motto img {
  width: 450px;
  height: 200px;
}

/* Footer */

.footer {
  background: #e6fff9;
  box-sizing: border-box;
  height: 310px;
}
.footer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.footer-details h4 {
  font-size: 12px;
  font-weight: bolder;
  text-decoration: underline;
  color: black;
}

.footer-details p {
  font-size: 10px;
  color: #008060;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.contact h4 {
  font-size: 12px;
  font-weight: bolder;
  color: black;
  text-decoration: underline;
}
.contact-box {
  display: flex;
  gap: 30px;
}
.email-item {
  text-decoration: none;
  color: #008060;
}
.mobile,
.address,
.email {
  display: flex;
  gap: 20px;
  color: #008060;
}
.mobile h1,
.address h1,
.email h1 {
  font-size: 14px;
}
.mobile h2,
.address h2,
.email-item {
  font-size: 12px;
}
.footer-icons-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #008060;
}
.transport,
.warranty,
.payment,
.support {
  color: black;
}

/*Edit Card Box*/

.products-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}
.main-products-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Edit Cards*/

.card-img-top {
  height: 160px;
  width: 180px;
  padding: 10px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}
.card-title {
  text-decoration: underline;
  color: #008060;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.card-text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 60px;
}
.card-price {
  color: #c40b39;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.btn {
  color: #008060;
  width: 100px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-addtoCart {
  display: flex;
  gap: 20px;
}
/* Details Card */

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  box-sizing: border-box;
}
.details-img {
  width: 320px;
  height: 290px;
  box-sizing: border-box;
}
.details-img:hover,
.details-img:focus,
.details-img:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.detailCard {
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.card-body-details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}
.titleDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.detailed-description {
  display: flex;
  flex-direction: column;
  width: 650px;
}
.text {
  font-size: 13px;
}

/* Cart */

.sales-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box {
  width: 800px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.product-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 140px;
  margin-right: 100px;
}
.delete {
  width: 65px;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.card-nr-of-products {
  display: flex;
  height: 30px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-text-number-products {
  font-size: 13px;
  font-weight: bold;
}
.btn-outline-secondary {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-outline-secondary:hover {
  background-color: #008060;
}
.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Total price */

.total-price-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-delivery {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 16px;
  width: 700px;
}
/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hidden {
  display: none;
}

/* Admin */

.btn-admin {
  width: 120px;
  height: 30px;
}

.add-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./icons/Admin-Background.png);
  background-repeat: no-repeat;
}
.buttons {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.all-admin-products {
  margin: 20px;
  font-size: 15px;
}
.img-admin {
  width: 50px;
}
.items {
  font-size: 14px;
}
.firstRawTable {
  color: #008060;
}

/* New product */

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.title-new-product,
.price-new-product,
.image-new-product,
.description-new-product {
  font-weight: bold;
  width: 100px;
  color: #d493e4;
}
.form-control {
  font-size: 12px;
}
.form-group {
  display: flex;
  gap: 20px;
}
.adminButton {
  font-size: 25px;
  width: 80px;
  height: 30px;
}
