@media (max-width: 970px) {
  /*Products type*/
  .main-products-type {
    gap: 35px;
    margin-top: 25px;
  }
  .all-consoles,
  .all-sofas,
  .all-armchairs {
    width: 200px;
  }
  .all-consoles img,
  .all-sofas img,
  .all-armchairs img {
    width: 180px;
    height: 120px;
  }
  .main-products {
    margin-bottom: 10px;
  }
  /* Motto */

  .motto img {
    width: 340px;
    height: 120px;
  }

  /* Details Card */

  .detailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detailed-description {
    box-sizing: border-box;
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    width: 580px;
  }

  /* All card container */

  .products-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .all-consoles:hover,
  .all-consoles:focus,
  .all-consoles:active,
  .all-sofas:hover,
  .all-sofas:focus,
  .all-sofas:active,
  .all-armchairs:hover,
  .all-armchairs:focus,
  .all-armchairs:active {
    box-shadow: 10px 10px 5px #e6fff9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  /* Sales */
  .sales img {
    width: 300px;
    height: 150px;
    background-color: aqua;
  }
}
